.modal-alter .cine-modal-body {
    justify-content: center;
}

.modal-alter .cine-form {
    text-align: left;
}

.modal-alter .cine-modal-title {
    margin-bottom: 20px;
}

.modal-alter .file-upload-wrapper {
    margin-bottom: 0;
}
